<%= form_with model: plan do |f| %>

  <div class="row">
    <div class="col">
      <%= f.label :year, "年度(西暦)" %><span style="color: red;">*</span>
      <%= f.select :year, (2000..2100).to_a.map { |y| [y, y.to_s] }, { include_blank: '年を選択してください', selected: Date.today.year } %>

      <%= f.label :field_id, "畑名" %><span style="color: red;">*</span>
      <%= f.select :field_id, options_from_collection_for_select(@fields, :id, :name, @fields.first.id), { include_blank: '畑名を選択してください' } %>


      <%= f.label :field_section_id, "区画名" %><span style="color: red;">*</span>
      <%= f.select :field_section_id, [], { include_blank: '区画名を選択してください' } %>
    </div>
  </div>

  <%= f.fields_for :plan_crops do |pc| %>
  <div class="row">
    <div class="col-12">
      <%= pc.label :crop_id, "植付作物名" %><span style="color: red;">*</span>
      <%= pc.select :crop_id, options_from_collection_for_select(@crops, :id, :name), { include_blank: '作物を選択してください' } %>
    </div>

    <div class="col-12">
      <%= f.label :planting_method, "植付方法" %><span style="color: red;">*</span>
      <%= pc.radio_button :planting_method, "播種", checked: true  %>
      <%= pc.label :planting_method, '播種' %>

      <%= pc.radio_button :planting_method, "育苗" %>
      <%= pc.label :planting_method, '育苗' %><br>
    </div>

    <div class="col-12">作業予定期間<span style="color: red;">*</span></div>

    <div class="col-5">
      <%= pc.date_field :start_date, class: "form-control mb-3" %>
    </div>

    <div class="col-2 text-center">.......</div>

    <div class="col-5">
      <%= pc.date_field :end_date, class: "form-control mb-3" %>
    </div>

    <div class="col-12">
      <%= pc.text_area :note, class: "form-control mb-3", placeholder: "メモ" %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col">
      <div id="wrapper"></div>
      <div class="text-center"><%= link_to '+', '#', id: 'add_button', class: "btn btn-outline-dark rounded-circle mt-3 ml-auto shadow" %></div>
    </div>
  </div>


  <div class="row">
    <div class="col text-center my-3">
      <%= f.submit '登録', class: 'btn btn-form mx-auto px-4', style: "background-color: #99B264; color: #FFF;" %>
    </div>
  </div>
<% end %>